---
import { Image } from "astro:assets";

interface Props {
  title: string;
  des: string;
  img: string | any;
  place: string;
  price?: string;
  btnText: string | any;
  path: string;
}

const { title, des, img, price, btnText, path } = Astro.props;
//components
import Button from "./ui/Button.astro";
// style
// import "../styles/scss/components/ui/Card.scss";
---

<a href={path}>
  <div class="card round-8 d-flex">
    <div class="top mx-auto">
      <Image
        src={img}
        alt={`img for product`}
        format="webp"
        quality={70}
        class={`img-cover`}
      />
    </div>
    <div class="body mr-1">
      <div class="pb-5">
        <h3 class="fw-700 pb-1 fs-20">{title}</h3>
        <p class="price  fw-700 fs-28">
          {price}
        </p>
      </div>
      <p class="des fs-16 pb-6 fw-500 line-normal">{des}</p>

      <Button
        type="button"
        aria=" التفاصيل"
        ClassName="btn-skew booking-btn mb-1 py-3 round-6 mx-auto d-flex items-center justify-center fs-18 fw-500"
      >
        {btnText}
      </Button>
    </div>
    <!-- end -->
  </div>
</a>
